
img {
    max-width: 100%;
    height: auto;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column; 
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #dfdfdf;
    padding-top: 80px; 
    padding-bottom: 60px; 

}


.header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 0 25px #ffcc00;
}

.header-link {
    text-decoration: none; 
    color: inherit; 
    transition: color 0.3s ease;
}

.header-link:hover {
    color: #ffcc00; 
}


.footer-container {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0a3b6e;
    box-shadow: 0 0 15px #ffcc00;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
    z-index: 1000;
}
.footer-container p {
    font-size: 15px;
    font-weight: bold;

}



.side {
    display: inline-block;
    margin: 20px;
}


.image-text {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    margin-top: 40px; 

}


.image-text img {
    max-width: 100%;
    margin-top: 40px; 
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 15px #ffcc00;
    height: auto;
    display: block;
    transition: opacity 0.3s ease; 
}


.image-text a {
    margin-top: 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: #0a3b6e;
    transition: color 0.3s ease; 
}

.image-text:hover {
    transform: scale(1.1); 
}

.image-text:hover img {
    opacity: 1.5; 
    box-shadow: 0 0 25px #ff3c00;
}

.image-text:hover a {
    color: #ff3c00; 
    font-size: 40px;
    text-decoration: wavy;
}


.image-text:active {
    transform: scale(1.5); 
    color:aqua;
}


